@media only screen and (max-width: 750px) {
  .main-setTimer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
  }

  .page-content-setTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }

  .minutes-setter {
    display: flex;
  }

  .minute-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__minutes-value {
    font-size: 4rem;
    font-weight: 600;
  }

  .main__minute-btns {
    border: none;
    background: none;
    color: black;
    font-size: 2rem;
  }

  .main__options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .checkboxes-container {
    display: flex;
    gap: 10px;
  }

  .checkboxes {
    background-color: white;
  }

  .checkbox-titles {
    display: flex;
    gap: 10px;
  }

  .main__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .main__start-timer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 10rem;
    height: 3rem;
    color: black;
    border-radius: 10px;
  }
}
