@media only screen and (max-width: 750px) {
  .main-analogTimer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
  }

  .page-content-analogtimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
  }

  .remaining-time {
    font-size: 4rem;
    font-weight: 600;
  }

  .stopwatch-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stopwatch {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .stopwatch-pointer-min,
  .stopwatch-pointer-sec {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 2px;
    background-color: black;
    transform-origin: bottom center;
    transform: rotate(-90deg);
  }

  .stopwatch-pointer-min {
    height: 40%;
    background-color: black;
  }

  .stopwatch-pointer-sec {
    height: 45%;
    background-color: red;
  }

  .stopwatch-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
